*{
    margin: 0; padding: 0;
}
ul,li{
    list-style: none;
}
a{
    color: black; text-decoration: none;
}
.container{
    width: 1200px; margin: 0 auto;
}

.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content:space-between
}
.align-items-center{
    align-items:center   
}
.overflow-hidden{
    overflow: hidden;
}
.m-auto{
    margin: 0 auto;
}

.h100{
    height:100px ;
}
.h300{
    height:300px ;
}
.h200{
    height:200px ;
}
.d1a{
    font-size: 22px; padding: 0 15px; 
}

.d1a:hover{
    background-color: rgb(26, 96, 161); color: white; }

 
.d2ul{
    background-color: white;
    height:0;
    overflow: hidden;
    transition: 0.5s;
    left:0; width:100%;
}
.d2ul li{
    line-height: 35px; 
    text-align: center;
}
.d1li:hover .d2ul{
    height: calc( 35px * 3); 
}
.d2ul li a:hover{
    
    background-color: rgb(88, 139, 216); color: white;
    display: block;
}

   